[submodule "lora-module/lora-module-hw"]
	path = lora-module/lora-module-hw
	url = git@github.com:manakjiri/lora-module-hw.git
[submodule "poc/embassy"]
	path = poc/embassy
	url = git@github.com:manakjiri/embassy.git
[submodule "lora-module/lora-module-fw"]
	path = lora-module/lora-module-fw
	url = git@github.com:manakjiri/lora-module-fw.git
[submodule "lora-module-updater"]
	path = lora-module-updater
	url = git@github.com:manakjiri/lora-module-updater.git
[submodule "soil-sensor-hw"]
	path = soil-sensor-hw
	url = git@github.com:manakjiri/soil-sensor-hw.git
