*~
*.aux
*.blg
*.ilg
*.idx
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.sh
*.toc
*.bbl
*.bcf
*.run.xml
*.synctex(busy)
*.synctex.gz(busy)
*.fls
*.fdb_latexmk
*.ind
*.dvi
*.nav
*.snm
svg-inkscape
main-pics.pdf

.venv